.btn {
	display:inline-block;
	padding:20px;
	@include btn-primary-hover(.8s);

	&:hover {
		background-color:black;
		@include btn-primary-hover(.8s);
	}

	a {
		color:$white;
		font-size:1.2em;
		text-decoration:none;
		font-weight:200;

	}
}

.btn-blue-hover {
	@include btn-primary-hover(.8s);

	&:hover {
		background-color:$secondary-blue;
		@include btn-primary-hover(.8s);
	}
}

.btn-red-hover {
	@include btn-primary-hover(.8s);

	&:hover {
		background-color:$primary-yellow;
		@include btn-primary-hover(.8s);
	}
}

.btn-black {
	background-color:$black;
}

.btn-white {
	background-color:$white;

	&:hover {
		@include btn-primary-hover(.8s);
			a {
				@include btn-primary-hover(.8s);
				color:$white;
		}
	}

	a {
		color:$secondary-blue;
	}
}


.btn-text {
	padding:25px 0px;

		a {
			color:$white;
		}

		&:hover {
		@include btn-primary-hover(.8s);
			a {
				@include btn-primary-hover(.8s);
				color:$black;
		}
	}
}

.book-appointment-btn {
	position:absolute;
	left:50%;
	top:85%;
	background-color:#000000;
	transform: translate(-50%, -50%);
	@include btn-primary-hover(.8s);

			a {
				font-size:.8em;
				color:#FFFFFF;
			}
			
	&:hover a {
		color:$white;
		@include btn-primary-hover(.8s);
	}
}

.panel-slide-btn {
		background-color:#000000;
}

.primary-btn {
	background-color:$secondary-blue;
}

.energy-btn {
	background-color:$primary-red;
}

.healing-btn {
	background-color:$primary-yellow;
}

.workshop-btn {
	background-color:$primary-red;
}

.events-btn {
	background-color:$primary-yellow;
}