.btn {
	display:inline-block;
	padding:20px;
	@include btn-primary-hover(.8s);

	&:hover {
		background-color:black;
		@include btn-primary-hover(.8s);
	}

	a {
		color:$white;
		font-size:1.2em;
		text-decoration:none;
		font-weight:200;

	}
}

.btn-white {
	background-color:$white;

	&:hover {
		@include btn-primary-hover(.8s);
	}

	a {
		color:$secondary-blue;
		&:hover {
			color:$white;
		}
	}
}

.primary-btn {
	background-color:$secondary-blue;
}

.energy-btn {
	background-color:$primary-red;
}

.healing-btn {
	background-color:$primary-yellow;
}

.workshop-btn {
	background-color:$secondary-blue;
}

.events-btn {
	background-color:$primary-blue;
}