.btn {
	display:inline-block;
	padding:20px;
	@include btn-primary-hover(.8s);

	&:hover {
		background-color:black;
		@include btn-primary-hover(.8s);
	}

	a {
		color:$white;
		font-size:1.2em;
		text-decoration:none;
		font-weight:200;

	}
}

.btn-white {
	background-color:$white;

	&:hover {
		@include btn-primary-hover(.8s);
			a {
				@include btn-primary-hover(.8s);
				color:$white;
		}
	}

	a {
		color:$secondary-blue;
	}
}

.book-appointment-btn {
	position:absolute;
	left:50%;
	top:85%;
	transform: translate(-50%, -50%);
	@include btn-primary-hover(.8s);

			a {
				font-size:.8em;
				color:$primary-blue;
			}
			
	&:hover a {
		color:$white;
		@include btn-primary-hover(.8s);
	}
}

.primary-btn {
	background-color:$secondary-blue;
}

.energy-btn {
	background-color:$primary-red;
}

.healing-btn {
	background-color:$primary-yellow;
}

.workshop-btn {
	background-color:$secondary-blue;
}

.events-btn {
	background-color:$primary-blue;
}