.contact-desc {
	text-align: center;
	padding-bottom:40px;
}
.contact-row {
	padding-bottom:120px;

	.contact-col{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction:column;

  	.contact-icon {
		padding-bottom:15px;
		     img {
		  		height:60px;
	 	 }
	  }
   }
}

.contact-list {
		font-family: $primary-font;
		color:$primary-blue;
		text-transform: uppercase;
		text-decoration:none;	
		-o-transition:.2s;
  		-ms-transition:.2s;
 		-moz-transition:.2s;
  		-webkit-transition:.2s;
  		transition:.2s;
}

.contact-list:hover {
		color:$primary-red;
}	