.article-hero {
    margin-top:100px;
    background-color:$primary-red;
}

.blog-title {
    color:white;
    font-size:42px;
    padding-top:24px;
}

.blog-details {
    line-height:4px;
    color:white;
}

.article-main {
    padding:100px 0px;
}

.pricing {
    padding-bottom:5px;
    color: $primary-red;
}


.divider-healings-fixed {
	background: url('../images/service-divide-red.jpg');
	background-size:cover;
	height:100%;
}

