.blog {
    height:100%;
    padding: 50px 0px;
	background-color:$primary-red;
	align-items:flex-start;

	img {
		width:100%;
	}
}

.blog-content {
	color:$primary-red;
}

.img-responsive {
	width:100%;
	height: auto;
	display: block;
}

.wrap {
	padding-left:2rem;
	padding-right: 2rem;
}