<div class="menu">
	<div class="button_container" id="toggle">
		<span class="top"></span>
		<span class="middle"></span>
		<span class="bottom"></span>
	</div>
</div>
	<div class="overlay" id="overlay">
			<nav class="overlay-menu">
				<ul id="menu">
					<li><a href="#services">Services</p></a></li>
					<li><%= link_to 'FAQ', '/faq.html' %></li>
					<li><a href="#ventures">Ventures</a></li>
					<li><a href="#blog">Blog</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>
		</div>
	<header class="site-header">
		<div class="social">
			<a href="https://www.facebook.com/uberfukuda"<i class="fa fa-facebook social-icon" aria-hidden="true"></i></a>
			<a href="https://www.instagram.com/uberfukuda/"<i class="fa fa-instagram social-icon" aria-hidden="true" class="social-icon"></i></a>
			<a href="http://www.medium.com/truth-of-the-matter"<i class="fa fa-medium social-icon" aria-hidden="true"></i></a>
			<a href="https://www.yelp.com/biz/ryan-fukuda-oakland"<i class="fa fa-yelp social-icon" aria-hidden="true"></i></a>
		</div>
		<div class="logotype">
			<a href="index.html"><img src="images/ryan-logotype.png"></a>
		</div>
	</header>