--- 
title: Ryan Fukuda FAQs
---
<div class="section-blue">
	<div class="blue-bar"></div>
	<div class="blue-wave"></div>
</div>
<div class="section-red">
	<div class="red-bar"></div>
	<div class="red-wave"></div>
</div>
<div class="section-hero-text">
	<h2 class="line-text"> FAQ's </h2>
</div>
</div>
</div>

<div class="container container-faq">
	<div class="row red-text">
		<% dato.faqs.each do |faq| %>
			<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-md-offset-2 col-sm-6 col-md-4">
				<div class="col-sm-6">
					<h4 class="question-header">
						<%= faq.question %>
					</h4>
				</div>
			</div>
			<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
				<p>
					<%= faq.answer %>
				</p>
				<div class="question-divider">
				</div>
			</div>
			<% end %>
	</div>
</div>
