--- title: Ryan Fukuda ---
<div class="section-blue">
	<div class="blue-bar"></div>
	<div class="blue-wave"></div>
</div>
<div class="section-red">
	<div class="red-bar"></div>
	<div class="red-wave"></div>
</div>
<div class="section-hero-text">
	<h2 class="line-text"> FAQ's </h2>
</div>
</div>
</div>

<div class="container container-faq">
	<div class="row red-text">
		
		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-md-offset-2 col-sm-6 col-md-4">
			<h4 class="question-header">What is a Psychic?</h4>
		</div>
		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
			<p>The definition of psychic is to sense or be aware of energy. A psychic reading session is a fun way to support people in having a new style of awareness about themselves and the things that matter to them most: a job, a relationship, health and so much more.</p>
			<div class="question-divider">
			</div>
		</div>
		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-md-offset-2 col-sm-6 col-md-4">
			<div class="col-sm-6">
				<h4 class="question-header">What is the method of how you read someone?</h4>
			</div>
		</div>
		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
			<p>Currently, the type of readings offered for parties and events involve a psychic giving a clairvoyant reading --- which means “to see the truth clearly”. Another way to put it is — seeing something for what it is, not what you think it should be. Other methods involve tarot or angel cards. Psychics can use them as tools to give readings. </p>
			<div class="question-divider">
			</div>
		</div>
		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-md-offset-2 col-sm-6 col-md-4">
			<div class="col-sm-6">
				<h4 class="question-header">Do you have any professional training?</h4>
			</div>
		</div>
		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
			<p>I’ve been studying for 17 years and have been practicing professionally for 9 years. If an event requires more than one reader, I know other readers who with the same style of training and professionalism. </p>
			<div class="question-divider">
			</div>
		</div>

		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-md-offset-2 col-sm-6 col-md-4">
			<div class="col-sm-6">
				<h4 class="question-header">Is it about the reading future?</h4>
			</div>
		</div>
		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
			<p>It can be, but it's not the style in which a lot of clairvoyants or psychics are working in modern times. Readings are super profound, but I wouldn't expect fortune telling, flying unicorns, or ouija boards. </p>
			<div class="question-divider">
			</div>
		</div>

		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-md-offset-2 col-sm-6 col-md-4">
			<div class="col-sm-6">
				<h4 class="question-header">What types of questions can you ask?</h4>
			</div>
		</div>
		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
			<p>You can ask pretty much about anything. When there is a moment for questions during a reading, I always recommend starting with the first thing that comes to mind. Job, love, money, health & family are usually the first to come up.</p>
			<div class="question-divider">
			</div>
		</div>

		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-md-offset-2 col-sm-6 col-md-4">
			<div class="col-sm-6">
				<h4 class="question-header">How many readings can you do in an hour?</h4>
			</div>
		</div>
		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
			<p>If mini readings were set up at about 5–10 minute per person, about 5-10 readings can be done in an hour.</p>
			<div class="question-divider">
			</div>
		</div>

		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-md-offset-2 col-sm-6 col-md-4">
			<div class="col-sm-6">
				<h4 class="question-header">What is the required set up?</h4>
		</div>
		</div>
		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
			<p>All you need is two chairs. One for the reader and the other for the readee. A table in between give an extra decoration to the experience, but it's not required.</p>
			<div class="question-divider">
			</div>
		</div>

		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-md-offset-2 col-sm-6 col-md-4">
			<div class="col-sm-6">
				<h4 class="question-header">What clients have you worked for in the past? Which type of events has this been successful?</h4>
		</div>
		</div>
		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
			<p>I was given the opportunity to work at a unique beauty and wellness establishment supporting clients in building customized wellness plans through various techniques: clairvoyant reading, energy healing, and wellness product recommendations. I also taught various meditation workshops for professionals, performed healing demonstrations and spoke about the healing industry at events such as GenArt Fashion Show, MAKE Literary Magazine, and Make Up Magazine in Chicago. I’ve done readings at independent retail store events, salons, art galleries, bachelorette parties, and even once for an entire group of churchgoers. I aspire to do more events with businesses and professionals to support their growth and culture.</p>
			<div class="question-divider">
			</div>
		</div>


		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-md-offset-2 col-sm-6 col-md-4">
			<div class="col-sm-6">
				<h4 class="question-header">Are you able to do a sample reading in advance over the phone to understand how it works?</h4>
		</div>
		</div>
		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
			<p>I’m able to offer a sample reading over the phone or on video chat (Skype, FaceTime, Google Hangouts)</p>
			<div class="question-divider">
			</div>
		</div>

			<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-md-offset-2 col-sm-6 col-md-4">
			<div class="col-sm-6">
				<h4 class="question-header">What’s the maximum group number of people?</h4>
		</div>
		</div>
		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
			<p>Depending on the event, you would need to know about how many people are attending. Then you can scale the amount of readers you would need to bring onboard. Keep in mind that majority of people will want a psychic reading, but not all.</p>
			<div class="question-divider">
			</div>
		</div>

			<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-md-offset-2 col-sm-6 col-md-4">
			<div class="col-sm-6">
				<h4 class="question-header">Do you need a quiet space? Do you need light?</h4>
		</div>
		</div>
		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
			<p>Quiet spaces and light are always nice in order for the person receiving the reading can hear. I’ve also given psychic readings at a rock concert before, so there’s plenty of flexibility.</p>
			<div class="question-divider">
			</div>
		</div>





	</div>
</div>
